.backdrop {
  height: 100vw;
  background-color: rgba(122, 119, 119, 0.466);
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.backdrop div {
  height: max-content;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
