.backdrop {
  background-color: rgba(122, 119, 119, 0.7);
  overflow: hidden;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.backdrop div {
  display: flex;
  justify-content: center;
  align-content: center;
  height: 100%;
}
